$icomoon-font-path: "fonts" !default;

$agar-icon-split: "\e427";
$agar-icon-shrink: "\e15d";
$agar-icon-fullscreen-exit: "\e5d1";
$agar-icon-fullscreen: "\e5d0";
$agar-icon-chat: "\e8cd";
$agar-icon-menu: "\e0b8";
$agar-icon-top: "\e8d0";
$agar-icon-exit: "\e566";
$agar-icon-leader: "\e16b";

